<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/sign_up.css" rel="stylesheet" type="text/css" />
    <title>Sign Up!</title>
  </head>

  <body>
    <h1>Create an Account!</h1>
    <p>Sign up to network with others!</p>
    <form action="" method="POST" id="signup">
        <label for="username">Username:</label>
        <br>
        <input type="text" id="username" name="username">
        <br>
        <label class="form-label" for="email">Email:</label>
        <br>
        <input type="text" id="email" name="email">
        <br>
        <label class="form-label" for="password">Password:</label>
        <br>
        <input type="password" id="password" name="password">
        <br>
        <label class="form-label" for="bio">Bio</label>
        <br>
        <input type="text" id="bio" name="bio">
        <br>
        <input id="submit" type="submit" value="Submit">
    </form>
  </body>
</html>